<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If Elif </title>
</head>
<body>
    <center>
        {% if a > b and a > c %}
            <h1>This is If block</h1>
            <h2>A is greater than B,C</h2>
        {% elif b > c %}
            <h1>Elif block</h1>
            <h2>B i greater than A,C</h2>
        {% else %}
            <h1>Else Block</h1>
            <h2>C is greater than A,B</h2>
        {% endif %}
    </center>
    
</body>
</html>